.spotify__song-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.spotify__song-card {
    border: 1px solid grey;
    height: 180px;
}

.spotify__song-card-image {
    min-width: 258px;
    max-width: 258px;
    height: 110px;
}
.spotify__song-card_title {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 100px;
}
.spotify__song-card_description {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 67px;
}
.icon {
    color: rgb(29, 185, 84);;
}