.spotify__song-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Four columns, adjust minmax() value as needed */
    gap: 20px;
    margin-top: 15px;
    overflow-y: scroll;
}
.spotify__song-card {
    border: 1px solid blue;
    height: 180px;
    // width: 200px;
    // background-color: #202020;
    // border-radius: 10px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // color: white;
    // margin-top: 20px;
    
}