<div class="spotify_login_container">
    <div class="spotify_login_container_spotify-icon">
        <img src="../../../assets/spotify-image.png" alt="icon-err" width="150px">
    </div>
    <div class="spotify_login_container_form">
        <h3 class="spotify_login_title">Log in to Spotify</h3>
        <div class="spotify_login_user_input">
            <label for="us">Email or Username</label>
            <input type="text" placeholder="Username or email" id="us">
        </div>
        <div class="spotify_login_user_password">
            <label for="pass">Password</label>
            <input type="password" placeholder="Password" id="pass">
        </div>
        <div class="spotify_login_form_checkbox">
            <input type="checkbox">
            <label>Remember me</label>
        </div>
        <div class="spotify_login_button">
            <button>Log in</button>
        </div>
        <div class="spotify_login_forgotten_password"><a>Forgot your password?</a></div>
    </div>
</div>