<div class="bg-black h-screen p-2 flex flex-col">
  <!-- Top Navigation -->
  <app-top-nav></app-top-nav>

  <!-- Main Content Area -->
  <div class="flex flex-col grow overflow-hidden">
    <div class="grid grid-cols-12 gap-2 grow overflow-hidden">
      <!-- Left Sidebar: Recents List -->
      <div class="col-span-3 flex flex-col overflow-hidden">
        <!-- Add full height control to this component -->
        <app-recents-left-list class="grow h-full"></app-recents-left-list>
      </div>

      <!-- Right Sidebar -->
      <div class="col-span-9 flex flex-col overflow-hidden">
        <app-songs-panel-right class="grow h-full" />
      </div>
    </div>

    <!-- Player at the Bottom -->
    <div class="shrink-0">
      <app-song-player />
    </div>
  </div>
</div>
