.spotify__home-container {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}
.spotify__home-container__side-bar {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 300px;
}
.spotify__home-container__playlist-container {
    background-color: #292927;
    // background-color: black;
    height: 100vh;
    width: 100%;
}
.spotify__home-container__side-bar-image {
    padding-left: 0px;
    padding-right: 60px;
}
.spotify__home-container__side-bar-item {
    color: white;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
    margin: 10px;
}
.spotify__home-container__side-bar-item > a:hover {
    color: red;
    cursor: pointer;
}
.right-side-conatiner {
    height: 600px;
    overflow-y: scroll;
    padding-bottom: 40px;
}
